.setting-page{
    margin: 1rem 3rem 0 3rem;

    height: calc(100% - 8rem);

}
.upload-box{
    padding: 15px;
    border-radius: 1rem;
    outline:rgba(255, 255, 255, 0.4) 0.25rem dashed;
    transition-duration: 0.1s;
    cursor: pointer;
    user-select: none;
    width: 6rem;
    height: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box:active{
    transform: scale(90%);

}
.upload-box-outer{
    margin: 15px;
}
